# Environnement virtuel
venv/
env/

# Base de données locale
aria.db

# Fichiers Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Fichiers système
.DS_Store
Thumbs.db
*.log

# Secrets
.env
*.env
credentials.json
secrets.toml
